{% extends app.layout %}
{% block content %}

    <div class="main">
        {% block blog_header %}
            <header>
                <h1>
                    MongoDB And Silex blog
                </h1>

                <h2>
                    A blog about stuffs i like
                </h2>
            </header>
        {% endblock %}

        {% block blog_content %}
        {% endblock %}
    </div>
    <style type="text/css">
        body {
            font-size: 100%;
            font-family: Tahoma, sans-serif;
        }

        p {
            font-family: Times, sans-serif;
        }

        .main {
            margin: auto;
            width: 60%;
        }

        label {
            min-width: 100px;
            vertical-align: top;
            display: inline-block;
        }
    </style>
{% endblock %}